1 ICON "icon.ico"
2 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "None"
      VALUE "FileDescription", "Organic Photovoltaic Device Model"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "opvdm"
      VALUE "LegalCopyright", "Roderick MacKenzie"
      VALUE "OriginalFilename", "opvdm.exe"
      VALUE "ProductName", "opvdm"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
