[Desktop Entry]
Name=gpvdm
Icon=/application-gpvdm.svg
Type=Application
MimeType=application/gpvdm;
Exec=gpvdm %F
Terminal=true
Categories=GTK;GNOME;Science;
