[Desktop Entry]
Name=gpvdm
Icon=/usr/share/gpvdm/images/application-gpvdm.svg
Type=Application
MimeType=application/gpvdm;
Exec=/usr/bin/gpvdm %F
Terminal=true
Categories=GTK;GNOME;Science;
